<div class="container">
  <div class="hero-unit">
    <h1>Reportar um bug</h1>
    <p></p>
    <p>
    Olá, dadas as limitações de protótipo, bugs podem ocorrer.
    </p>
    <p>
    Caso você tenha encontrado um bug e ele seja relacionado à diagramação,
    certifique-se de que você está utilizando o navegador Google Chrome e dê um F5 para dar reiniciar a ferramenta.
    </p>
    <p>
    Se mesmo assim o bug persistir, envie um e-mail para <a href="mailto:ecopat@gmail.com">ecopat@gmail.com</a>
    com o detalhamento do problema.
    </p>
    <p>
    Caso a urgência de realizar o exercício seja grande, me ligue, a qualquer horário e dia, no telefone (54) 8124 2777.
    </p>
  </div>
</div>