<div class="container">
  <div class="hero-unit">
    <h1>Sobre</h1>

    <p></p>
    O <b style="text-decoration: underline">Coloph</b> tem seu nome originado dos tipos de modelagem:
    <b style="text-decoration: underline">Co</b>nceptual, <b style="text-decoration: underline">lo</b>gical e
    <b style="text-decoration: underline">ph</b>ysical. É um protótipo de um software para aprendizado de banco de dados
    com foco em modelagem e consulta à banco de dados.
    <p></p>
    Foi criado como Trabalho de Conclusão de Curso apresentado
    como requisito parcial para a obtenção do
    título de Bacharel em Ciência da Computação
    pela <a href="http://www.unisinos.br/">Universidade do Vale do Rio dos Sinos</a> por
    <a href="mailto:ecopat@gmail.com">Eduardo Ferrari Copat</a>.
                                  <p></p>
    Link para a monografia: <a href="scholar/monografia.pdf">monografia</a>.

    <hr>

    <h3>Funcionalidades</h3>

    Uma lista das features do Coloph, uma descrição mais detalhada pode ser encontrada no <%= link_to 'manual'.html_safe, help_path %>.
    <ul>
      <li>Módulo professor</li>
      <ul>
        <li>Gerenciar exercícios</li>
        <li>Gerenciar turmas</li>
        <li>Gerenciar grupos</li>
        <li>Criar diagramas</li>
      </ul>
      <li>Módulo estudante</li>
      <ul>
        <li>Participar de grupos</li>
        <li>Resolver exercícios</li>
        <li>Criar diagramas</li>
      </ul>
    </ul>
    <li>Modelagem entidade-relacionamento (modelo conceitual)</li>
    <ul>
      <li>Entidades</li>
      <ul>
        <li>fracas</li>
        <li>fortes</li>
      </ul>
      <li>Atributos de entidades</li>
      <ul>
        <li>chave primária</li>
        <li>chave estrangeira</li>
        <li>simples ou compostos</li>
        <li>simples ou compostos</li>
        <li>monovalorados ou multivalorados:</li>
        <li>nulos</li>
        <li>derivados</li>
      </ul>
      <li>Relacionamentos</li>
      <ul>
        <li>identificador</li>
        <li>não-identificador</li>
        <li>ternário</li>
        <li>auto-relacionamento</li>
        <li>cardinalidades</li>
      </ul>
      <li>Generalização/especialização</li>
    </ul>
    <li>Modelagem entidade-relacionamento (modelo lógico)</li>
    <ul>
      <li>Entidades</li>
      <li>Atributos de entidades</li>
      <ul>
        <li>chave primária</li>
        <li>chave estrangeira</li>
        <li>nulos</li>
      </ul>
      <li>Relacionamentos</li>
      <ul>
        <li>identificador</li>
        <li>não-identificador</li>
        <li>auto-relacionamento</li>
        <li>cardinalidades</li>
      </ul>
      <li>Generalização/especialização</li>
    </ul>

    <li>Consulta em álgebra relacional</li>
    <ul>
    <li>Operadores</li>
    <ul>
    <li>seleção</li>
    <li>projeção</li>
    <li>união</li>
    <li>diferença</li>
    <li>interseção</li>
    <li>produto cartesiano</li>
    <li>renomeação</li>
    <li>designação</li>
    <li>junção</li>
    <li>divisão</li>
    <li>junções externas</li>
    <li>projeção generalizada</li>
    <li>funções agregadas</li>
    <li>inclusão</li>
    <li>alteração</li>
    <li>exclusão</li>
    </ul>
    </ul>

    <li>Consulta em SQL</li>
    <ul>
    <li>Cláusula SQL</li>
      </ul>

    </ul>
  </div>
</div>