<div class="container">
  <div class="hero-unit">

    <ul class="breadcrumb">
      <li><a href="#"><i class="fa fa-home"></i><%= link_to "Início", root_url %></a> <span class="divider">/</span></li>
      <li><a href="#"><i class="fa fa-sitemap fa-flip-vertical"></i><%= link_to ('Meus '+ t('activerecord.models.diagram.other').downcase).html_safe, diagrams_path %></a> </li>
    </ul>
    <%= bootstrap_flash %>

    </br>

<%= render :partial => 'diagram_index' %>
  </div>
</div>